server {
    listen   80;
    listen   [::]:80 default ipv6only=on;
    server_name _;

    if ($host ~ "www.nickelmattera.gay|nicholemattera.gay|www.nicholemattera.gay|nicholemattera.com|www.nicholemattera.com") {
        return 301 https://nickelmattera.gay$request_uri;
    }

    root /usr/share/nginx/html;
    index index.html;

    location / {
        try_files $uri /index.html;
    }
}
